@import 'node_modules/locomotive-scroll/dist/locomotive-scroll';

@font-face {
  font-family: 'Regular';
  src: url('../../public/fonts/YoungSerif-Regular.ttf');
}

@font-face {
  font-family: 'Body';
  src: url('../../public/fonts/NeueMontreal_Medium.otf');
}

body{
  background-color: #CCCCCC;
  margin: 0px;
  font-family: 'Regular';
  margin-top: 100vh;
  margin-bottom: 100vh;
}

h2 {
  font-family: 'Title';
}

